[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
h5py = "*"
tqdm = "*"
jupyter = "*"
pygame = "*"
ple = {git = "https://github.com/ntasfi/PyGame-Learning-Environment.git"}
tensorflow-macos = "*"
gym-ple = {git = "https://github.com/lusob/gym-ple"}
tornado = "*"
gym = {git = "https://github.com/ryoma310/gym-v0.14.0"}
tensorflow-metal = "*"
certifi = "*"
pyopengl = "*"
pyglet = "==1.5.27"
packaging = "*"
keras-rl2 = {git = "https://github.com/ryoma310/keras-rl2-macos"}

[dev-packages]

[requires]
python_version = "3.10"
